#root {
    display: flex;
    justify-content: center;
}

.SearchAndItem {
    display: flex;
    flex-direction: row-reverse;
}

#root {
    height: 100vh;
    background-image: url('../../imgBG.JPG');
    opacity: 2;
}